.newsSource {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    float: left;
}

.spanLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.colorRed {
    color: red;
}

.newsAuthor {
    text-align: right;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    height: 350px;
    display:block;
}
