.newsSource {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    float: left;
}

.buttonX{
    float: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
}

.blog {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin: 5px;
}

.sourceLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.colorRed {
    color: red;
}
.colorBlue {
    color: blue;
}

.newsScreen {
    max-width: 1024px;
}

.newsAuthor {
    text-align: right;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1024px;
    display: block;
}
